
.BusinessCard {
    margin: auto;
    border: 1.5px dotted rgb(240, 241, 231); 
    border-radius: 20px;
    box-sizing: border-box;
    padding: 1vw;
    width: 80vw;
    height: 32vh;
    margin-top: 2vw;
    color: white;
  }

  .header {
    color: white;
  }